{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>


    <div class="card">


        <div class="card-body">
            <div class="table-response">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Variant</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th width="150px">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for pr in page_obj %}
                        <tr>
                            <td>{{ pr.id }}</td>
                            <td>{{ pr.product.title }} <br> Created at : 25-Aug-2020</td>
                            <td>{{ pr.product.description }}t</td>
                            <td>
                                <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">

                                    <dt class="col-sm-3 pb-0">
                                        {{ pr.product_variant_two.variant_title }}/ {{ pr.product_variant_one.variant_title }}/ {{ pr.product_variant_three.variant_title }}
                                    </dt>
                                </dl>
                                <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show
                                    more
                                </button>
                            </td>
                            <td>
                                Price : {{ pr.price }}
                            </td>
                            <td>
                                InStock : {{ pr.stock }}
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a href="" class="btn btn-success">Edit</a>
                                </div>
                            </td>

                        </tr>

                    {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>

        <div class="card-footer">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <div class="pagination pagination-centered">
                        <ul style="list-style: none;" class="d-flex ">
                            <!-- <span class="step-links">-->
                            {% if page_obj.has_previous %}
                                <li class="px-2"><a href="?page=1" class="first">&laquo; first</a></li>
                                <li class="px-2"><a href="?page={{ page_obj.previous_page_number }}" class="previous">previous</a>
                                </li>
                            {% endif %}

                            <!-- <span class="current">-->
                            <li class="px-2"><span class="page">Page</span> <span>{{ page_obj.number }}</span></li>
                            <li class="px-2"><span class="page">of</span> <span>{{ page_obj.paginator.num_pages }}</span></li>
                            <!--  </span>-->

                            {% if page_obj.has_next %}
                                <li class="px-2"><a href="?page={{ page_obj.next_page_number }}" class="next">next</a></li>
                                <li class="px-2"><a href="?page={{ page_obj.paginator.num_pages }}" class="last">last &raquo;</a>
                                </li>
                            {% endif %}
                            <!--   </span>-->
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
    </div>
{% endblock %}